* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container {
    width: 900px;
    height: 520px;
    background: #fff;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 25px 40px rgba(0,0,0,.3);
}

/* LEFT */
.auth-left {
    flex: 1;
    background: linear-gradient(135deg, #38bdf8, #0ea5e9);
    color: #fff;
    padding: 50px;
}

    .auth-left h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .auth-left span {
        color: #0f172a;
    }

/* RIGHT */
.auth-right {
    flex: 1;
    padding: 40px;
}

/* TABS */
.tabs {
    display: flex;
    margin-bottom: 30px;
}

    .tabs button {
        flex: 1;
        padding: 12px;
        border: none;
        cursor: pointer;
        background: #e5e7eb;
        font-weight: bold;
        border-radius: 33px;
    }

    .tabs .active {
        background: #0ea5e9;
        color: #fff;
        border-radius: 58px;
    }

/* FORM */
form {
    display: flex;
    flex-direction: column;
}

    form h2 {
        margin-bottom: 20px;
    }

    form input {
        margin-bottom: 15px;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #cbd5f5;
    }

    form button {
        margin-top: 10px;
        padding: 14px;
        border: none;
        border-radius: 10px;
        background: #0ea5e9;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }

        form button:hover {
            background: #0284c7;
        }

.hidden {
    display: none;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .auth-container {
        flex-direction: column;
        height: auto;
        width: 90%;
    }
}
.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* cercle */
    object-fit: cover;
    background: #fff;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35), 0 6px 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
    .logo:hover {
        transform: scale(1.08) rotate(2deg);
        box-shadow: 0 20px 45px rgba(0, 0, 0, 0.45), 0 10px 25px rgba(0, 0, 0, 0.35);
    }